<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static "laboratory/estilo_laboratorio.css" %}"/>
  <link rel="stylesheet" href="{% static "laboratory/estilo_laboratorio_imagenes.css" %}"/>
  <script src="{% static "laboratory/imagenes_laboratorio.js" %}"></script>
</head>
<body>

<!--Parte de arriba de la pagina web-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bacteria Project</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">How-to</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Share</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<!--Parte izquierda-->
<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-sm-2 sidenav">

        <div class="dropdown">
        <button class="dropbtn">Cargar un proyecto</button>
          <div class="dropdown-content">
            <!--Aqui estan todos los proyectos del usuario. Hay que generarlos-->
            <a href="#">From scratch</a>
            <a href="#">Petri from base A</a>
            <a href="#">Petri from base A</a>
          </div>
        </div>
      <br><br/>
      <div>
          <h4>Crea un nuevo experiento aqui</h4>
          <form action="/laboratorio/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Do it!" />
          </form>
      </div>


     </div>




    <div class="col-sm-8 text-left">
      <div align="center">
      	<h1>{{frase}}</h1> <!--Aqui sale el nombre del experimento cuando es seleccionado-->
      </div>

      <div align="center">
          <button style="font-size:24px"><i class="fa fa-backward"></i></button>
          <button style="font-size:24px"><i class="fa fa-play"></i></button>
          <button style="font-size:24px"><i class="fa fa-pause"></i></button>
          <button onclick="myFunction()" style="font-size:24px"><i class="fa fa-forward"></i></button>
      </div>

      <hr>


<!--Antigua imagen de la placa petri-->
<!--
<div class="parent">
  <div align="center">
    <img id="base" class="image1" src="https://github.com/TheOpenBacteriaProject/webapp/blob/master/images/petri_vacia.png?raw=true" alt="petrivacia" width="500">
  </div>
  <div align="center">
    <p id="demo"></p>
  </div>
</div>
-->
    <!--Nuevo centro-->
    <!--Referencia para hacer el codigo de la galeria: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_gallery-->
    <div class="parent">
        <div align="center">
            <!--Aqui va la imagen central-->
        </div>
    </div>
    <div class="parent">
        <div align="center">

    <div class="row">
        <div class="column">
        </div>
    </div>

        </div>
    </div>

<!--Linea del tiempo-->
      <hr>
      <h3>AQUI VA LA LINEA DEL TIEMPO</h3>
      <p>LINEA BONITA</p>
    </div>

<!--Parte de derecha-->
    <div class="col-sm-2 sidenav">

      <div class="well">
          <form action="/html/tags/html_form_tag_action.cfm" method="post">
  				Save a comment:<br />
  					<textarea name="comments" id="comments">

  					</textarea><br />
  		  		    <input type="submit" value="Save it!" />
  		  </form>
      </div>

      <div class="well">
        <form action="/html/tags/html_form_tag_action.cfm" method="get">
          Petri name:
            <br />
          <input type="text" name="first_name" value="" maxlength="100" />
          <br />
          <input type="submit" value="Save name" />
      </form>
      </div>

    </div>

  </div>
</div>

<!--Parte de abajo-->
<footer class="container-fluid text-center">
  <p>Created by <a href="https://github.com/TheOpenBacteriaProject/">Bateria Project</a></p>
</footer>


<script>

  function myFunction() {
      document.getElementById("demo").innerHTML = '<img id="base" class="image2" src="https://github.com/TheOpenBacteriaProject/webapp/blob/master/images/bacterias1.png?raw=true" alt="petrivacia" width="500">';
  }

</script>
</body>

</html>
