<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static "laboratory/estilo_laboratorio.css" %}"/>
  <link rel="stylesheet" href="{% static "laboratory/estilo_laboratorio_imagenes.css" %}"/>
  <script src="{% static "laboratory/imagenes_laboratorio.js" %}"></script>
</head>
<body>

  <!--Parte de arriba de la pagina web-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

    </div>
    <a class="navbar-brand-2" href="https://github.com/TheOpenBacteriaProject">The Open Bacteria Project</a>
  </nav>


<!--Parte izquierda-->
<div class="container-fluid text-center">
  <div class="row content" style="height:100%;">
    <div class="col-sm-2 sidenav">
      <div>
          <h4>Crea un nuevo experimento</h4>
          <form action="/laboratorio/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Crear experimento" />
          </form>
      </div>
     </div>

    <div class="col-sm-8 text-left">
      <div align="center">
      	<h1>{{frase}}</h1> <!--Aqui sale el nombre del experimento cuando es seleccionado-->
        <h2>{{usuario}}</h2>
      </div>

      <hr>


    <!--Nuevo centro-->
    <!--Referencia para hacer el codigo de la galeria: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_gallery-->
        <script>
          var slideIndex = 1;
          var contador = 1;
          showSlides(slideIndex);
        </script>
        <div align="center">
          <div class="container">

              <!--Hay que generar esto por cada foto que tenga el experimento-->
              {%load static%}
              {% for img in imagenes %}
              <div class="mySlides">
                  <center><img src="{{img.theimage}}"  style="width:40%;" ></center>
              </div>
              {% endfor %}

          </div>

          <div class="row">
              {% for img in imagenes %}
              {%load static%}

              <div class="column">
                  <img class="demo cursor" src="{{ img.theimage }}" style="width:100%" onclick="currentSlide('{{forloop.counter}}')" alt="The open bacteria project">
              </div>
              {% endfor %}
          </div>
        </div>

    <div class="parent">
        <div align="center">

    <div class="row">
        <div class="column">
        </div>
    </div>

        </div>
    </div>

<!--Linea del tiempo-->
      <hr>
      <!--<h3>AQUI VA UNA BARRA PARA CAMBIAR DE IMAGEN</h3>-->
    </div>

<!--Parte de derecha-->
    <div class="col-sm-2 sidenav">

      <div class="well">
        <div class="dropdown">
          <button class="dropbtn">Cargar un proyecto</button>
            <div class="dropdown-content">
              <!--Aqui estan todos los proyectos del usuario. Hay que generarlos-->
              <a href="#">Top secret experiment</a>
              <a href="http://127.0.0.1:8000/laboratorio_demo/">Experiemnto-nuevo</a>
            </div>
        </div>
      </div>

      </div>

    </div>

  </div>
</div>

<!--Parte de abajo-->
<footer class="container-fluid text-center" style="bottom:0;" style="position:fixed;">
  <p>Created by <a href="https://github.com/TheOpenBacteriaProject/" style="color:orange;">The Open Bateria Project</a></p>
</footer>


<script>

  function myFunction() {
      document.getElementById("demo").innerHTML = '<img id="base" class="image2" src="https://github.com/TheOpenBacteriaProject/webapp/blob/master/images/bacterias1.png?raw=true" alt="petrivacia" width="500">';
  }

</script>
</body>

</html>
